<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="output.css" rel="stylesheet" />
    <title>Jogo da Velha</title>

    <script
      src="https://cdn.socket.io/4.5.0/socket.io.min.js"
      integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <button id="join">Entrar</button>

    <script type="text/javascript">
      let socket;
      const button = document.getElementById('join');

      button.addEventListener('click', () => {
        if (!socket) {
          socket = new io('http://localhost:3333');
        }
      });
    </script>
  </body>
</html>
