<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mali:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400&display=swap"
      rel="stylesheet"
    />
    <link href="output.css" rel="stylesheet" />
    <script src="https://unpkg.com/phosphor-icons"></script>

    <title>Jogar</title>
  </head>
  <body>
    <main
      class="w-screen h-screen flex flex-col items-center justify-center font-jakarta-sans"
    >
      <h2 class="text-4xl 2xl:text-5xl font-extralight" data-player-turn>
        Vez de <strong>X</strong>
      </h2>
      <div class="hidden" data-game-over>
        <div class="flex justify-center items-center">
          <h2
            class="text-4xl 2xl:text-5xl font-extralight ml-16 pr-7 md:ml-24 md:pr-16"
          >
            Fim de Jogo
          </h2>
          <button class="h-6 2xl:h-7" data-game-over__restart>
            <i class="ph-arrow-counter-clockwise text-3xl 2xl:text-4xl"></i>
          </button>
        </div>
      </div>
      <section class="grid place-items-center py-16 md:py-8 2xl:py-16">
        <div
          class="grid grid-cols-[repeat(3,_max-content)] grid-rows-3 font-mali text-6xl md:text-8xl 2xl:text-9xl"
        >
          <button
            class="w-28 h-28 md:w-36 md:h-36 2xl:w-48 2xl:h-48 cursor-pointer"
            data-index="0"
            data-cell
          ></button>
          <button
            class="w-28 h-28 md:w-36 md:h-36 2xl:w-48 2xl:h-48 border-x-2 border-gradient-t-black-white cursor-pointer"
            data-index="1"
            data-cell
          ></button>
          <button
            class="w-28 h-28 md:w-36 md:h-36 2xl:w-48 2xl:h-48 cursor-pointer"
            data-index="2"
            data-cell
          ></button>
          <button
            class="w-28 h-28 md:w-36 md:h-36 2xl:w-48 2xl:h-48 border-y-2 border-gradient-l-black-white cursor-pointer"
            data-index="3"
            data-cell
          ></button>
          <button
            class="w-28 h-28 md:w-36 md:h-36 2xl:w-48 2xl:h-48 border-2 border-black cursor-pointer"
            data-index="4"
            data-cell
          ></button>
          <button
            class="w-28 h-28 md:w-36 md:h-36 2xl:w-48 2xl:h-48 border-y-2 border-gradient-r-black-white cursor-pointer"
            data-index="5"
            data-cell
          ></button>
          <button
            class="w-28 h-28 md:w-36 md:h-36 2xl:w-48 2xl:h-48 cursor-pointer"
            data-index="6"
            data-cell
          ></button>
          <button
            class="w-28 h-28 md:w-36 md:h-36 2xl:w-48 2xl:h-48 border-x-2 border-gradient-b-black-white cursor-pointer"
            data-index="7"
            data-cell
          ></button>
          <button
            class="w-28 h-28 md:w-36 md:h-36 2xl:w-48 2xl:h-48 cursor-pointer"
            data-index="8"
            data-cell
          ></button>
        </div>
      </section>
      <section
        class="grid grid-cols-3 grid-rows-2 place-items-center text-xl 2xl:text-3xl font-light gap-2"
        data-scoreboard
      >
        <p data-scoreboard__x>X</p>
        <p data-scoreboard__draw>—</p>
        <p data-scoreboard__o>O</p>
        <p
          class="font-normal md:text-2xl 2xl:text-4xl"
          data-scoreboard__x-score
        >
          0
        </p>
        <p
          class="font-normal md:text-2xl 2xl:text-4xl"
          data-scoreboard__draw-score
        >
          0
        </p>
        <p
          class="font-normal md:text-2xl 2xl:text-4xl"
          data-scoreboard__o-score
        >
          0
        </p>
      </section>
    </main>

    <script src="/scripts/game.js"></script>
  </body>
</html>
